{
    "presets": ["@babel/env", "@babel/react"],
    "plugins": [
        "dynamic-import-webpack",
        "inline-react-svg",
        "babel-plugin-styled-components",
        "react-loadable/babel"
    ]
}